body {
    background-color: bisque;
    border-color: #dddddd;
    color: whitesmoke;
    text-align: left;
    text-transform: uppercase;
}   
header > .h1 {
    color:whitesmoke;
    background-color: forestgreen; 
    text-transform: uppercase;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.hr {
    color: #777;    
}
h2 {
    color: forestgreen;  
    text-transform: uppercase; 
    text-align: left;
    width: auto; 
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: forestgreen;
    background-color: bisque;
    text-transform: uppercase;
    text-align: left;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
h2.hName {
    color: whitesmoke;
    background-color: forestgreen;
    text-transform: uppercase;
    display: inline;
}

nav > a {
    display: inline-block; 
    color: lime; 
    background-color: bisque;
    text-align: right;
    }
nav a.active {
        background-color: forestgreen;
        color: lime;
    }
nav a:hover:not(.active) {
        background-color: bisque;
        color: gray;
    }
img {
        width: 180px;
        height: auto;
    }
section > p {
    background-color: bisque;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

div.gallery {
    margin: 5px;
    Float: left;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: teal;
    color: whitesmoke;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: bisque;
    align-content: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;    
}
* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 20%;
    padding: 50px;
    background-color: forestgreen;
}
.box2 {
    float: left;
    width: 80%;
    padding: 50px;
}
footer {
    border-top: 8px solid #4aaaa5;
    font: xx-small;
    text-align: center;
    background-color: #666666;
}
#wrap {
    background-image: url("assets/gravel/gravel.png");
    background-repeat: no-repeat;
    background-size: 100%;
}